@import "./Base/reset";

@import "./layout/navbar";

@import "./layout/mainIndex";

@import "./layout/mainSeguros";

@import "./layout/mainNosotros";

@import "./components/button";
@import "./layout/mainCotizar";

@import "./layout/mainContactos";


.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:"navbar navbar navbar"
                        "header header header"
                        "main main main"
                        "footer footer footer";
}

.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
