@import "./Base/reset";

@import "./utilities/mixins";
@import "./utilities/variables";

@import "./layout/navbar";

@import "./layout/header";

@import "./layout/mainIndex";

@import "./layout/mainSeguros";

@import "./layout/mainNosotros";

@import "./components/button";
@import "./layout/mainCotizar";

@import "./layout/mainContactos";


.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:"navbar navbar navbar"
                        "header header header"
                        "main main main"
                        "footer footer footer";
}

.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}

@media (max-width: 768px){

    .subTitulo{
        font-size: 35px;
    }
    .formu{
        font-size: 25px;
    }
}
@media (max-width: 575px){

    .subTitulo{
        font-size: 30px;
    }
    .formu{
        font-size: 20px;
    }
}


