*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar{
    grid-area: navbar;
    background: #000756;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.enlace{
    position: absolute;
    padding: 12px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

li a.active, li a:hover{
    background: #6a6ea0;
    transition: .5s;
}
/*
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
*/
#check{
    display: none;
}
/*
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
*/

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "navbar navbar navbar"
                        "header header header"
                        "main main main"
                        "footer footer footer";
}


.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}



.carrusel{
    margin-top: 65px;
}




.seguro{

    transition: all 1s;
}
.seguro:hover{
    transform: scale(1.15);
}





.enviarForm-container{
    padding: 25px;
    text-align: left;
    margin-left: 90px;
    transition: all 1s;
}
.enviarForm{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    padding: 4px;
}
.enviarForm:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}




.contacto-container{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}
.contacto1{
    height: 270px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
}
.contacto1 ul div{
    display: flex;
    flex-flow: row;
    padding: 15px;
}
.contacto2{
    height: 100%;
    margin: 10px;
    display: flex;
    justify-items: center;
}
.contacto2 ul div{
    display: flex;
    flex-flow: row;
    padding: 15px;
}
.contacto{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;

}



@media(max-width:768px){
    .enlace{
        width: 100%;
        padding: 10px;
        margin: 0px;
        margin-top: 10px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .imagen-container{
        margin-top: 135px;
    }
    .parrafo-container{
        width: 100%;
    }
    .navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }
    .navbar ul{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contenedor{
        width: 100%;
    }
    .logo-container .logoParte2{
        width: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .seguro{
        width: 200px;
        height: 800px;
    }
    .seguro div img{
        width: 80px;
    }
}