.mainIndex{
    margin: 35px 0 100px 0;
    display: flex;
    justify-content: space-around;
    div{
        width: max-content;
        margin: 20px 0px;
        img{
            width: 530px;
        }
        h5{
            font-size: 40px;
        }
    }
}
