
/*Atrivutos para los subtitulos de las 4 paginas siguientes al index*/
.subTitulo{
    margin: map-get($subTitulo , margen );
    padding: map-get($subTitulo , padding );
    font-size: map-get($subTitulo , fuente );
}

.seguros{
    margin: 60px 0 70px 0;
    div div{
        img{
            width: 60px;
            padding: 5px;
            margin: 10px;
        }
        div{
            h5{
                padding: 5px
            }
            p{
                margin-top: 15px;
            }
        }
    }
}
