.enviarForm-container{
    padding: 25px;
    text-align: left;
    margin-left: 90px;
    transition: all 1s;
}
.enviarForm{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    padding: 4px;
}
.enviarForm:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}