.carousel{
    z-index: 0;
}

.mainIndex{
    margin: 60px 0 155px 0;
    display: flex;
    justify-content: space-around;
    div{
        width: max-content;
        margin: 20px 0px;
        img{
            width: 530px;
        }
        h5{
            font-size: 40px;
        }
    }
}
