.botn{
    border: none;
    input{
        padding: 10px;
        width: 300px;
        font-size: 18px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    &:hover{
        transform: scale(1.05);
        transition: 0.3s;
        box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.2);
    }
}
